@charset "utf-8";
html,body,div,p,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
pre,code,kbd,samp{font-family:monospace,sans-serif;_font-family:'Courier New',monospace,sans-serif;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word}
blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;visibility:hidden}
.clearfix{zoom:1}.clearfix:after{clear:both}
* html .clearfix{zoom:1}
*:first-child+html .clearfix{zoom:1}
audio[controls],canvas,video{display:inline-block;*display:inline;*zoom:1}
html{font-size:100.01%;height:100%;overflow-y:scroll;cursor:default;overflow-y:scroll;-webkit-tap-highlight-color:transparent;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{background-color:#fbfcf9;color:#363636;height:100%}
body,button input,select,textarea{font:12px/1.5 sans-serif}
img,fieldset{border:0 none}ul,li{list-style:none}
img{vertical-align:top;-ms-interpolation-mode:bicubic}
ins del{text-decoration:none}
a,a:hover,a:active,a:visited,a:focus{color:#363636;text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur());}
.hidden{border:0!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px);height:1px!important;margin:-1px;overflow:hidden;padding:0!important;position:absolute!important;width:1px}
dd{margin:0}
nav ul,nav ol{list-style:none}
form{overflow:visible}
fieldset{line-height:1}
legend{*margin-left:-7px}
button,input,select,textarea{vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal;*overflow:visible}
button,input[type="button"],input[type="reset"],input[type="submit"],.form-btn,.btn{cursor:pointer}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box}input[type="checkbox"]{vertical-align:bottom;*vertical-align:baseline;-webkit-appearance:none;appearance:none;outline:0;display:inline-block}
input[type="radio"]{vertical-align:text-bottom;appearance:none;-webkit-appearance:none;outline:0;display:inline-block}input{_vertical-align:text-bottom}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
input,textarea,select{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;border:1px solid #7f9db9;margin:0}
input:focus,textarea:focus,select:focus{outline-width:0}
select{background-color:transparent}
label{font-weight:normal}
label.required:after{content:"*";color:red;font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif}
button,input,{width:auto;*width:1;overflow:visible}
table{border-collapse:collapse;border-spacing:0}
th,td{padding:0;text-align:left;vertical-align:middle}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
h1,h2,h3,div,li,p,menu,button{font-size:100%;-webkit-tap-highlight-color:transparent}
.flex-box{display: -webkit-box;display: -webkit-flex;display: flex;-webkit-box-align: center;-webkit-align-items: center; align-items: center;}
.boxsizing{-moz-box-sizing: border-box; /*Firefox3.5+*/-webkit-box-sizing: border-box; /*Safari3.2+*/-o-box-sizing: border-box; /*Opera9.6*/-ms-box-sizing: border-box; /*IE8*/box-sizing: border-box;}
.blue{color: #5e89fd !important;}
.orange{color:#ff7c4e !important;}
.purple{color: #948fff !important;}
.yellow{color: #ffaa00 !important;}
.red{color: #f63c50 !important;}
.green{color: #50be55 !important;}
.iblue{color:#3a559f !important;}
.gray{color: #a1a1a1 !important;}

html{background:#eee;}
body{font-size:14px;background-size: 100% 100%;background:#f3f3f3;max-width: 640px;margin: 0 auto; color: #545454;line-height: 1.5; overflow-x: hidden;}/*em为相对单位,1em相当于16px(在顶层父元素上是这样)*/
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-left{text-align: left;}
.font-size10{font-size: 10px;}
.font-size12{font-size: 12px;}
.font-size14{font-size: 14px;}
.font-size16{font-size: 16px;}
.font-size18{font-size: 18px;}
.font-size20{font-size: 20px;}
.paddingtb0{padding-top: 0 !important;padding-bottom: 0 !important;}
.fixed-bottom{margin-bottom: 52px}
.white-bg{background: #fff;}
.gray-bg{background: #545454;}
.zhongjiang-bg{background: #fff0eb;}

.item-box{background: #fff;}
.padding-box{padding: 20px 10px; margin-top: 10px;}
.fix-bottom{position:fixed;bottom:0;width:100%;height:35px;background-color:#f8f8f8;padding:8px 0;z-index:101;line-height: 18px;/*box-shadow: 0 -1px 5px rgba(0,0,0,.2);*/display: -webkit-box;max-width: 640px; border-top: 1px solid #dbdbdb;}
.fix-bottom .fix-b{display:block;text-align:center;height:40px;color:#828282;font-size:11px;-webkit-box-flex: 1; width: 25%;}
.fix-bottom .fix-b i{font-size: 23px; position: relative;}
.fix-bottom .fix-b i.icon-home,.fix-bottom .fix-b i.icon-homefill{font-size: 20px;}
.fix-bottom .active{color: #5e89fd;}

.index .nav-list{flex-wrap:wrap; background: #fff;}
.index .nav-list a{display: block;-webkit-box-flex:1;text-align: center;color: #666;line-height: 34px; width: 33.333%; border:none; }
.index .nav-list .con{border-right: 1px solid #eee;border-bottom: 1px solid #eee; padding: 20px 0;}

.index .nav-list a:nth-child(3n) .con{border-right: none;}
.index .nav-list a i{display: block;width: 50px;height: 28px; font-size: 42px;margin: 0 auto 5px;}
.swiper-container {position: relative;overflow: hidden;z-index: 1;width: 100%;}
.swiper-container .pagination{position: absolute; z-index: 20; width: 100%; text-align: center; bottom: 10px; right: 0;}
.swiper-container .swiper-slide a{display: block; width: 100%;height: 100%;}
.swiper-container img,.swiper-container2 img{width: 100%;}
.swiper-container .swiper-pagination-bullet{background: #fff;opacity: .7; margin:0 5px;}
.swiper-container .swiper-pagination-bullet-active {opacity: .9;background: #fcca00;}
.ui-dialog .con{line-height: 28px;}
.ui-qiandao{overflow: visible !important;}
.ui-qiandao .tit{line-height: 60px;}
.ui-qiandao .con{font-size: 13px; color: #a1a1a1; line-height: 20px;}
.ui-qiandao .go-game{width: 130px; display: inline-block;height: 130px; background: #ff7c4e; border-radius: 50%;margin: 20px auto; line-height: 128px;}
.ui-qiandao .go-game i{color: #fff; font-size: 110px;}
.showClose .ui-dialog-close{display: block !important; color: #fff;font-size: 20px; background: #bbb;border-radius: 50%; padding: 5px;right: -10px; top: -10px;-webkit-box-shadow:0 0 1px #666;height: 20px;line-height: 21px; width: 20px; }
.weui_cells_title + .weui_cells {margin-top: 0;}
.weui_cells { margin-top: 10px;background-color: #FFFFFF;line-height: 1.41176471;overflow: hidden;position: relative; font-size: 15px;}
.weui_cells .weui_cell:first-child{border-top: 1px solid #eeeeee;}
.weui_cell{padding: 8px 10px;position: relative;display: -webkit-box;display: -webkit-flex;display: flex;-webkit-box-align: center;-webkit-align-items: center;align-items: center; border-bottom: 1px solid #eeeeee;min-height: 35px;}
.weui_cell_hd{display: block;width: 90px;word-wrap: break-word;word-break: break-all;color: #545454;}
.weui_cell_primary {/*color: #333;*/font-size: 15px;}
.weui_cell_primary input{text-align: right;}
.weui_input {width: 100%;border: 0;outline: 0;-webkit-appearance: none;background-color: transparent;font-size: inherit;color: inherit;height: 1.41176471em;line-height: 1.41176471; color: #333; margin: 0;padding: 0;}
.weui_input[type="date"]{width: auto;}

.weui_cells_title {margin-top: 10px;margin-bottom: 10px;padding-left: 15px;padding-right: 15px;color: #b5b5b5;font-size: 14px;}
.weui_select {-webkit-appearance: none;border: 0;outline: 0;background-color: transparent;width: 100%;font-size: inherit;    height: 1.41176471em;
    line-height: 1.41176471;position: relative;z-index: 1;position: relative;}
.weui_cell .l-icon{font-size: 20px; margin-right: 5px; }
.weui_cell .r-icon{font-size: 20px; margin-left: 5px; }
.weui_cell .r-con{position: relative;color: #999;font-size: 13px;height: 18px;display: block;line-height: 18px;}
.weui_cell .close{color: #a1a1a1;font-size:22px;}
.weui_cell_bd{-webkit-box-flex: 1;-webkit-flex: 1; flex: 1;}
.weui_cell_bd~.r-con.active{padding-right: 20px;}
.weui_select~.r-con.active:after,.weui_cell_bd~.r-con.active:after{content: "\e614";font-family: "iconfont";  position: absolute;top: 0px;right: 0px;font-size: 18px;color: #888; }
.weui_cell_bd~.r-con.active:after{content: "\e633"}
.weui-check {
    position: absolute;
    left: -9999em;
}
#getcode .btn-send{color:#5e89fd;border-left: 1px solid #eeeeee;    display: block;padding: 7px 0; width: 130px;text-align: right;}
#getcode .btn-send.btn-disabled{border-right:none;border-top:none;border-bottom:none;background: none !important;}
#getcode .weui_input{text-align: left;}
.surebtn{margin-top: 20px;}
.surebtn .btn{margin-left:10px;margin-right:10px;}
.btn{background: #5e89fd; color: #fff;height: 44px; line-height: 44px; font-size: 18px; text-align: center; border-radius: 4px;display: block;    transition: all 0.35s ease-out 0s;
    -moz-transition: all 0.35s ease-out 0s;}
.btn-def{border: 1px solid #67b6fb;border-radius: 4px;height: 31px; line-height: 31px; color:#67b6fb; padding: 0 20px; background-color: #fff;    transition: all 0.35s ease-out 0s;
    -moz-transition: all 0.35s ease-out 0s; }
.btn-disabled{border:1px solid #ccc;background:#ccc !important; color:#999 !important;}

.my-account{position: relative; padding-bottom: 70px; background: #fff;}
img{width: 100%;}
.my-account .user-info{position: absolute; bottom: 35px; left: 20px;}
.user-info .user-photo{width: 60px; height: 60px; border-radius: 50%;overflow: hidden;background: #eee;}
.user-info .name{position: relative;top: 7px;margin-left: 10px; display: block;}
.rule{padding:10px;}
.rule .tit{margin-top: 3px;margin-bottom: 10px;}
.rule .con{color: #a1a1a1;line-height: 1.8;}
.rule .con p{text-indent: 2em;}
.fix-bottom-btn{background: #5e89fd; border-top: none; text-align: center;color: #fff !important;display: block;line-height:35px;font-size: 18px;}
.ui-qiandao .join{width: 80px; height: 80px; border-radius: 50%;color: #fff;line-height: 80px;margin: 0 auto; display: block;}
.ui-qiandao .onejoin,.ui-qiandao .teamjoin{margin-top: 20px; margin-bottom: 20px;}
.ui-qiandao .join i{font-size:40px;}
.ui-qiandao .onejoin .join{background: #5e89fd;}
.ui-qiandao .teamjoin .join{background: #ff7c4e;}
.gamesteamjoin .btn-add{margin: 20px 10px 10px 10px;background: #fff; color:#5e89fd; border:1px dotted #5e89fd;vertical-align: top;}
.gamesteamjoin .btn-add i{font-size: 20px; margin-right: 5px;position: relative;top: 2px;}
.share .flex-box{padding: 0 2%; margin-top: 20px;}
.share .flex-box div{-webkit-box-flex: 1; width: 100%; margin: 0 8%;}
.wangkacenter .rule .con{padding: 10px 0;}

.wangkalist .weui_cell{padding: 15px 10px;}
.wangkalist .weui_cell img{width: 60px; height: 60px; border-radius: 5px;}
.wangkalist .weui_cell .weui_cell_bd{margin-left: 10px;overflow: hidden;}
.wangkalist .weui_cell .weui_cell_bd p{ width: 100%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden; }
.wangkalist .weui_cell .weui_cell_bd p.p1{font-size: 18px;margin-bottom: 6px;}
.wangkalist .weui_cell .weui_cell_bd p.p2{color: #a1a1a1;}
.wangkalist .weui_cell i{font-size: 30px; margin-right: 5px}


.recharge .padding-box .flex-box{flex-wrap:wrap;}
.recharge .padding-box .list{width: 33.3%;-webkit-box-flex: 1; margin-bottom: 10px;}

.recharge .padding-box .list a{display: block; margin-right: 10px; border:1px solid #e4e4e4;text-align: center; border-radius: 5px;padding: 3px 0;overflow: hidden;}
.recharge .padding-box .list:nth-child(3n) a{margin-right: 0;}
.recharge .padding-box .p1{font-size: 18px;}
.recharge .padding-box .p2{color: #a1a1a1;font-size: 12px;}
.recharge .info{text-align: center;padding: 10px;}
.recharge .weui-check:checked + a {color:#5e89fd;border-color: #5e89fd; }
.recharge .weui-check:checked + a .p2{color:#5e89fd; }
.treaty{margin-top: 50px;color: #a1a1a1;}
.rechargetreaty .item-box{line-height: 2;}
.chose-quantity{display: inline-block;vertical-align: middle;-webkit-border-radius: 3px;border-radius: 3px;letter-spacing: 0;height: 28px;line-height: 28px; background-color: #fff; position: relative;color:#5e89fd;}
.chose-quantity .minus,.chose-quantity .add{font-style: normal;font-size: 16px;font-weight: 400;border: 0;display: inline-block;width: 28px;height: 100%;-webkit-user-select: none;-ms-user-select: none;background-color: #fff;text-align: center; border: 1px solid #5e89fd; border-radius: 50%;}
.chose-quantity .exc-number{width:30px;-webkit-box-sizing: border-box;box-sizing: border-box;padding: 0 5px;border: 0;-webkit-border-radius: 0;border-radius: 0;font-weight: 700;color: #3d4245;background-color: #fff;text-align: center; line-height: 20px;font-size: 14px; margin: 0;  }
.weui-cell__ft {text-align: right; color: #999999;}
.weui-switch { -webkit-appearance: none; appearance: none;position: relative;width: 65px;height: 30px;border: 1px solid #DFDFDF; outline: 0;border-radius: 16px;box-sizing: border-box;background-color: #DFDFDF;-webkit-transition: background-color 0.1s, border 0.1s;transition: background-color 0.1s, border 0.1s;}
.weui-switch:checked {border-color: #5e89fd;background-color: #5e89fd;}
.weui-switch:before {content: " ";position: absolute;top: 0;left: 0;width: 63px;height: 28px;border-radius: 15px;background-color: #FDFDFD;-webkit-transition: -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);transition: -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1), -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);}
.weui-switch:checked:before {-webkit-transform: scale(0);transform: scale(0);}
.weui-switch:after {content: " ";position: absolute;top: 0;left: 0;width: 28px;height: 28px;border-radius: 15px;background-color: #FFFFFF;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);-webkit-transition: -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);transition: -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35), -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);}
.weui-switch:checked:after {-webkit-transform: translateX(35px);transform: translateX(35px);}
.schedule .padding-box .tit{margin-bottom: 10px;}
.schedule .padding-box .list{ margin-bottom: 10px;}
.schedule .padding-box .list a{  color: #a1a1a1;height: 40px; line-height: 40px;overflow: hidden;border-radius: 5px;padding: 0 10px;border:1px solid #e4e4e4;display: block;width: 100%;position: relative;padding-right: 45px;}
.schedule .padding-box .list .name{-webkit-box-flex: 1;}
.schedule .padding-box .list i{font-size: 30px; position: absolute; top: 0px; right: 8px; display: none;}
.schedule .weui-check:checked + a div,.schedule .weui-check:checked + a i{color:#5e89fd;display: block; }
.schedule .weui-check:checked + a{border-color:#5e89fd;}


.ml-main { width:100%;height: 100%; max-width: 640px; margin: 0 auto; /*background: url(../assets/images/cj_bg_2.jpg) center ; background-size: 100% 100%;*/position:absolute;overflow:hidden;*zoom:1; z-index:1;left:center;top:0;}
.ml-main .keTitle{width:45%;height:auto;margin:0 auto;}
.ml-main .keTitle .title{width:100%;height:auto;margin:15% auto;}
.ml-main .keTitle .xian{width:100%;height:auto;}
.ml-main .kePublic{width:80%;height:auto;position:absolute;top:100px;left:10%;}
/* 大转盘样式 */
.banner{margin:0 auto}
.banner .turnplate{display:block;width:100%;height:0;padding-bottom:100%;overflow:hidden;position:relative;}
.banner .turnplate canvas.item{width:100%;}
.banner .turnplate #tupBtn{position:absolute;width:27.5%;height:33.5%;left:36%;top:30.5%;border:0;background:none;}
.banner .turnplate img{width:100%;height:auto;}
.silider-txt{width:60%;height:30px;line-height: 30px; margin:25px auto;background:rgba(255,255,255,.7);border-radius:15px;text-align: center;overflow:hidden;}
.silider-txt p{width:100%;text-align:center;color:#545454;line-height:30px;}
.activitygame .h2,.activitygame .p2,.activitygame .p3{width:100%;text-align:center;}
.activitygame .h2{color:#ff7c4e;margin-top:20px;margin-bottom:5px;font-size: 25px;}
.activitygame .p2{color:#999;font-size:16px;}
.activitygame .p3{color:#999}
.ui-choujiang .tit{font-size: 25px;}
.ui-choujiang .con{font-size: 16px; color: #545454; margin-bottom: 30px;}
.ui-choujiang .btn{width: 100%;padding: 10px;margin: 0 -10px -10px -10px; border-radius: 0; height: 32px;line-height: 32px;background: rgba(0,0,0,0);color: #5e89fd;border-top: 1px solid #eee;}